<footer class="footer">
    <div class="footer-container">
      <div class="footer-column">
        <img src="assets/file.png" alt="Image" class="login-logo">
        <p>&#169; 2024 Hauriers. Todos los derechos reservados</p>
    </div>
    <div class="footer-column">
        <h3>Contáctanos</h3>
        <ul>
          <li><a href="https://www.instagram.com" target="_blank"><i class="pi pi-instagram
"></i> Instagram</a></li>
          <li><a href="https://www.facebook.com" target="_blank"><i class="pi pi-facebook
            "></i> Facebook</a></li>
          <li><a href="https://www.twitter.com" target="_blank"><i class="pi pi-twitter
            "></i> Twitter</a></li>
        </ul>
      </div>
     
    </div>
  </footer>
<router-outlet></router-outlet>